<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="resorces/chart1.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="resorces/chart2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="resorces/chart3.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"><img/>
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="resorces/chart4.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>

<md-tabs md-selected="selectedIndex" md-dynamic-height>
    <md-tab ng-repeat="tab in tabs"
            label="{{tab.title}}"
            ui-sref="{{tab.state}}"
            md-active="selectedIndex == $index">
        <div layout-padding layout-margin>
            <ui-view></ui-view>
        </div>
    </md-tab>
</md-tabs>
